@charset "UTF-8";

* {
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.board_boardNum {
	width: 85%;
	margin: auto;
	padding-left: 21vh
}

.board_boardNum .span1 {
	border-right: 1px solid black;
}

.board_boardNum .title_items {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.board_boardNum .title_item {
	display: flex;
	align-items: center;
	font-size: 18px;
}

.board_boardNum .title_item .title {
	font-size: 18px;
	font-weight: bold;
}

.board_boardNum .title_item span {
	margin-right: 10px;
	padding-right: 10px;
}

.board_boardNum .btn {
	height: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: end;
}

.board_boardNum .btn a {
	margin: 0 5px;
}

.board_boardNum .btn .admin {
	/* display: none; */
	/* admin, 작성자 일때 */
	
}
