@charset "UTF-8";

* {
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}
.container>table {
    border-collapse: collapse;
    text-align: center;
    border-top: 3px solid #22499d;
}

.container>table th{
    font-size:16px;
    text-align: center;
    color: #555555;
    font-weight: bold;
    background-color: #f8fafc;
    color:#091f46;
    }
.container>table td {
    font-size:16px;
    text-align: center;
    color: #555555;
}

.table tr:hover {
	background-color: #f7f7f7;
}

.search {
   margin-top: 10px;
   height: 30px;
}

.search_content {
   width: 300px;
   height: 39px;
}

.search_select {
   height: 39px;
}

.search_btn {
   height: 40px;
   width: 60px;

}

.business_search {
   margin-top: 10px;
   margin-bottom: 50px;
   position:relative;
}

.business_search td {
   border: 1px solid #c8d1db
}

.search_btn {
   background-color: #394b61 !important;
   color: white;
}
.table {
	margin-top: 50px;
}

.business_add {
	position: absolute;
	right: 0;
	top: 0;
}

