@charset "UTF-8";
* {
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.update_info {
	width: 85%;
	margin: auto;
}

.update_info .form-group {
	margin-bottom: 25px;
}

.update_info .input-name {
	font-size: 18px;
	font-weight: 700;
}

.update_info .form-input {
	width: 665px;
	height: 50px;
	font-size: 16px;
	padding: 10px;
	border: 2px solid rgb(232, 233, 242);
	border-radius: 10px;
}

.update_info textarea {
	width: 665px;
	height: 500px;
	font-size: 16px;
	padding: 10px;
	border: 2px solid rgb(232, 233, 242);
	border-radius: 10px;
	resize: none;
}

.update_info .input-date {
	width: 200px;
	font-size: 16px;
	padding: 10px;
	border: 2px solid rgb(232, 233, 242);
	border-radius: 10px;
}

.update_info .input-date:first-child {
	margin-right: 20px;
}

.update_info .input-date:last-child {
	margin-left: 20px;
}
