@charset "UTF-8";

.calendar_home table {
	border: 1px solid #dee2e6;
	border-top: 3px solid #22499d;
	width: 80vh;
}

.calendar_home_title {
	background-color: #f8fafc;
}

.calendar_home th {
	font-size: 18px;
	vertical-align: middle !important;
	text-align: center;
	border: 1px solid #dee2e6
}


.calendar_home td {
	position:relative;
	text-align: left;
	border: 1px solid #dee2e6;
	height: 10vh;
}
.calendar_home .daumdal{
	display: flex;
    justify-content: space-between;
    margin: 1vh 0.5vh;
}
.calendar_home .daumdal a:first-child {
	margin-right: 20px;
}

.calendar_home .iljung > a{
	    margin-left: 14vh;
}
.calendar_home td > .circle{
	display: inline-block;
    position: absolute;
    top: 1.7vh;
    right: 1vh;
    width: 14px;
    height: 14px;
    background-color: #6c757d;
    border-radius: 50%;
    transition: all 0.3s;
}
.calendar_home td > .circle:hover{
    min-width: max-content;
    height: max-content;
    padding: 1vh;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 1px 2px 5px 0px black;
    opacity: 0.7;
    background-color: #3C4b64;
}
.calendar_home td > .circle > a{
	display: none;
    font-size: 12px;
    font-family: revert;
    color: white;
    cursor: pointer;
	margin: 4px 0;
	transition: all 0.3s;
}
.calendar_home td > .circle > a:hover{
	text-decoration: underline;
	color: red;
}
.calendar_home td > .circle:hover > a {
    display: block;
}