@charset "UTF-8";

* {
	border-style: none;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.topbar {
	margin-right: 60px;
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #3c4b64;
	align-items: center;
	height: 160px;
}

.topbar>h1 {
	padding-left: 40px;
	font-size: 40px
}